body {
    background-color: #a0e8af;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height: fit-content;
    background-color: #86baa1;
    margin: 20px 80px 0 80px;
    padding: 15px;
}

.red {
    background-color: #edead0;
    border-radius: 20px 20px 20px 20px;
    width: 200px;
    height: 20em;
    margin: 10px;
}

.container img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid #ffcf56;
}